* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

main {
  flex: 1;
}

#Beranda {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#Layanan {
  min-height: 100vh;
  padding: 60px 20px;
}

#Galeri {
  padding: 60px 20px;
  background-color: #fefefe;
}

#Kontak {
  min-height: 90vh;
  padding: 60px 20px;
  background-color: #fff0f5;
  text-align: center;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff0f5;
  padding: 20px 30px;
  flex-wrap: wrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0, 1);
  top: 0;
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #cc3366;
}

.logo img {
  height: 32px;
  border-radius: 6px;
  width: auto;
}

.nav-links {
  list-style: none;
  gap: 20px;
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.3s;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: #f7dce7;
  opacity: 70;
  transform: scale(1.03);
  transition: transform 0.2s ease;
}

nav a.active {
  color: #ffaa55;
  border-bottom: 2px solid #ffaa55;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #cc3366;
}

.hamburger {
  font: bold 18px/20px "playfair", sans-serif;
  display: none;
  cursor: pointer;
  color: white;
  background-color: #cc3366;
  padding: 10px 16px;
}

#menu-toggle {
  display: none;
}

/* Responsif navbar */

/* Navbar END */

.hero {
  background-image: url(asset/full-shot-married-couple-dancing-together.jpg);
  background-size: cover;
  background-position: center;

  height: 100vh;
  /* margin-top: 60px; */
  text-align: center;
  color: #fff0f5;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-text {
  position: relative;
  z-index: 2;
  font: bold 24pxpx/20px playfair, great-vibes, sans-serif;
}

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #cc3366;
  color: white;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  transform: scale(1.05);
  background-color: #b92c5d;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-whatsapp {
  color: red;
  font-size: 48px;
}

.fa-instagram {
  padding: 5px;
  color: blue;
}

.fa-envelope {
  font-size: 48px;
}

/* CSS untuk Layanan */

.layanan {
  text-align: center;
  background-color: #fffafc;
}

.layanan-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.layanan-item {
  background-color: #fff0f5;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  width: 300px;
  text-align: center;
  transition: transform 0.3s;
}

.layanan-item:hover {
  transform: scale(1.05);
}

.layanan-item img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Testimoni Style */
.testimoni {
  padding: 60px 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff4f7;
}

.testimoni-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

blockquote {
  font-style: italic;
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

cite {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #cc3366;
}
/* Testimoni Style */

/* Tentang Style */
.tentang {
  padding: 60px 20px;
  text-align: center;
  background: #ccee55;
}

.tentang p {
  margin-top: 10px;
  font: 16px/20px "great-vibes", sans-serif;
  color: #cc3366;
}

.tentang p span {
  font-weight: bold;
}

/* Tentang Style */

.kontak h2 {
  font-size: 28px;
  color: #cc3366;
  margin-bottom: 20px;
}

.kontak-info p {
  font-size: 16px;
  color: #333;
  margin: 8px 0;
}

.kontak-info a:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

/* CSS GALERI */

.galeri {
  padding: 60px 20px;
  text-align: center;
}

.galeri h2 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #cc3366;
}

.galeri-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.galeri-item {
  text-align: center;
}

.galeri-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background: #f5f5f5;
}

.galeri-item img:hover {
  transform: scale(1.05);
}

.galeri-item figcaption {
  margin-top: 8px;
  font-size: 14px;
  color: #666;

  font-style: italic;
}

/* glightbox */
.glightbox:hover {
  opacity: 0.8;
}

/* CSS Footer */
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 10px;
  gap: 8px;
  background-color: #fce4ec;
}

footer span,
footer a {
  font-size: 14px;
  color: #aa0044;
  font-family: "Poppins", sans-serif;
}

/* Media Querry */
@media (max-width: 768px) {
  /* responsif header */
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }

    .logo img {
      height: 36px;
      margin-bottom: 10px;
    }

    .nav-links {
      flex-direction: column;
      width: 100%;
      display: none;
      margin-top: 10px;
    }

    .nav-links a {
      background-color: #fff;
      width: 100%;
      text-align: left;
    }

    #menu-toggle:checked ~ .nav-links {
      display: flex;
    }
  }

  /* nav ul {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding-left: 0;
  }

  nav ul li {
    width: 100%;
    margin-top: 10px;
  }

  nav ul li a {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    background-color: #fff0f5;
  } */
  /* responsif header end */

  .layanan-list {
    flex-direction: column;
    align-items: center;
  }

  .hero h1 {
    font-size: 24px;
    padding: 0 16px;
  }

  .hero p {
    font-size: 14px;
    padding: 10px 20px;
  }

  .cta-button {
    font-size: 16px;
    padding: 10px 20px;
  }

  /* responsif footer */
  fonter {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer span {
    width: 100%;
  }
}
